body { /*구글링해서 모르는 태그 찾기*/
    margin: 0;
    background: linear-gradient(limegreen, rgb(212, 252, 212)); 
    background-repeat: no-repeat; /*봐면 반복x*/
    height: 750px;
    min-width: 700px; 
    font-family: fantasy;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    margin: 0px;
    color: white;
    text-shadow: rgb(1, 96, 1) 2px 0 4px;
}

table {
    table-layout: fixed;
    border: 10px solid green;
    border-collapse: collapse; /*표의 테두리관련 css*/
    box-shadow: rgba(61, 106, 61, 0.776) 3px 3px 3px;
}

td {
    font-weight: bold;
    font-size: 16px;
    border: 10px solid green;
    width: 130px;
    height: 130px;
    padding: 3px;
    word-break: keep-all; /*줄바꿈 방지*/
}